<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>30 Seconds</td>
    <td>{{30 | prettyTime}}</td>
  </tr>
  <tr>
    <td>90 Seconds</td>
    <td>{{90 | prettyTime}}</td>
  </tr>
  <tr>
    <td>270 Seconds</td>
    <td>{{270 | prettyTime}}</td>
  </tr>
  <tr>
    <td>3621 Seconds</td>
    <td>{{3621 | prettyTime}}</td>
  </tr>
  <tr>
    <td>3700 Seconds</td>
    <td>{{3700 | prettyTime}}</td>
  </tr>
  <tr>
    <td>3760 Seconds</td>
    <td>{{3760 | prettyTime}}</td>
  </tr>
  <tr>
    <td>86400 Seconds</td>
    <td>{{86400 | prettyTime}}</td>
  </tr>
  <tr>
    <td>90160 Seconds</td>
    <td>{{90160 | prettyTime}}</td>
  </tr>
  <tr>
    <td>90160 Seconds + hide minutes</td>
    <td>{{90160 | prettyTime: {showMinutes: false} }}</td>
  </tr>
  </tbody>
</table>
