<table>
  <tbody>
  <tr>
    <td>0.1 Seconds</td>
    <td>{{0.1 | prettyTime}}</td>
  </tr>
  <tr>
    <td>0.1 Seconds + lessThanASecondText='custom less than...'</td>
    <td>{{0.1 | prettyTime: {lessThanASecondText: 'custom less than a second text'} }}</td>
  </tr>
  <tr>
    <td>1.1 Seconds</td>
    <td>{{1.1 | prettyTime}}</td>
  </tr>
  <tr>
    <td>30 Seconds</td>
    <td>{{30 | prettyTime}}</td>
  </tr>
  <tr>
    <td>90 Seconds</td>
    <td>{{90 | prettyTime}}</td>
  </tr>
  <tr>
    <td>270 Seconds</td>
    <td>{{270 | prettyTime}}</td>
  </tr>
  <tr>
    <td>270 Seconds + roundHours</td>
    <td>{{270 | prettyTime: {roundNearestHour: true} }}</td>
  </tr>
  <tr>
    <td>3300 Seconds</td>
    <td>{{3300 | prettyTime}}</td>
  </tr>
  <tr>
    <td>3300 Seconds + roundHours</td>
    <td>{{3300 | prettyTime: {roundNearestHour: true} }}</td>
  </tr>
  <tr>
    <td>3621 Seconds</td>
    <td>{{3621 | prettyTime}}</td>
  </tr>
  <tr>
    <td>3621 Seconds + roundHours</td>
    <td>{{3621 | prettyTime: {roundNearestHour: true} }}</td>
  </tr>
  <tr>
    <td>3700 Seconds</td>
    <td>{{3700 | prettyTime}}</td>
  </tr>
  <tr>
    <td>3760 Seconds</td>
    <td>{{3760 | prettyTime}}</td>
  </tr>
  <tr>
    <td>86400 Seconds</td>
    <td>{{86400 | prettyTime}}</td>
  </tr>
  <tr>
    <td>90160 Seconds</td>
    <td>{{90160 | prettyTime}}</td>
  </tr>
  <tr>
    <td>90160 Seconds + hide minutes</td>
    <td>{{90160 | prettyTime: {showMinutes: false} }}</td>
  </tr>
  <tr>
    <td>90160 Seconds + hide minutes + hide seconds</td>
    <td>{{90160 | prettyTime: {showMinutes: false, showSeconds: false} }}</td>
  </tr>
  <tr>
    <td>90160 Seconds + roundsHours</td>
    <td>{{90160 | prettyTime: {roundNearestHour: true} }}</td>
  </tr>
  <tr>
    <td>93160 Seconds</td>
    <td>{{93160 | prettyTime }}</td>
  </tr>
  <tr>
    <td>93160 Seconds + roundsHours</td>
    <td>{{93160 | prettyTime: {roundNearestHour: true} }}</td>
  </tr>
  </tbody>
</table>
